<form action="/parcels" method="post">
  <label for="length">Add the length of you parcel in inches</label>
  <input id="length" name="length" type="text">

  <label for="width">Add the width of you parcel in inches</label>
  <input id="width" name="width" type="text">

  <label for="height">Add the height of you parcel in inches</label>
  <input id="height" name="height" type="text">

  <label for="weight">Add the weight of you parcel in pounds</label>
  <input id="weight" name="weight" type="text">

  <button type="submit">Submit</button>
</form>